@{
    Layout = null;
}

<html>
<head>
    <title>About page</title>
</head>
<body>
    <h1>About page</h1>


    <h1>
        <a href="https://boka25.github.io/">My git</a>
    </h1>

    
    <p>
        Back to ->
        <a href="../Home">Home page</a>
    </p>
</body>

</html>
