@{
    Layout = null;
}

<html>
<head>
    <title>Home Page </title>
</head>
    <body>
        <h1>ISERVICE</h1>
        <h2>created by Igor Boyko</h2>
    <h1>
        <a href="About/Index" >About page</a>
    </h1>
    <h1>
        <a href="Contact/Index">Contact page</a>
    </h1>
    </body>

</html>
